$breakpoints: (
    extra-small: (max-width: 320px),
    small: (max-width: 375px),
    mobile: (max-width: 640px),
    ipad: (max-width: 768px),
    ipad-max: (max-width: 991px),
    desktop-small: (max-width: 1024px),
    desktop-base: (max-width: 1280px),
    desktop-medium: (max-width: 1366px),
    desktop-large: (max-width: 1440px),
    desktop-xl: (max-width: 1536),
    desktop-xxl: (max-width: 1920px),
    max-size: (min-width: 1921px),
);

@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Couldn't find a breakpoint named `#{$name}`.";
    }
}